@using Infrastructure.Enums;
@section script{
    <script src="~/js/products/index.js"></script>
}
@{
    ViewData["Title"] = "Trang Chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model FashionShop.Models.ProductIndexModel
<p id="txt-categoryId" hidden>@Model.CategoryId</p>
<p id="txt-keyword" hidden>@Model.KeyWord</p>

<main class="main">
    <div class="page-header text-center" style="background-image: url('~/assets/images/page-header-bg.jpg')">
        <div class="container">
            <h1 class="page-title">Fashion<span>Shop</span></h1>
        </div><!-- End .container -->
    </div><!-- End .page-header -->
    <nav aria-label="breadcrumb" class="breadcrumb-nav mb-2">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="~/Home/Index">Home</a></li>
                <li class="breadcrumb-item"><a href="~/Product/Index">Product</a></li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="page-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <div class="toolbox">
                        <div class="toolbox-left">
                            <div class="toolbox-info">
                                <label>
							Show:
							<select class="input-select" id="product-page-size">
								@foreach (var item in Model.SelectPageSize)
								{
									<option value="@item">@item</option>
								}

								
							</select>
						</label> Products
                            </div><!-- End .toolbox-info -->
                        </div><!-- End .toolbox-left -->

                        <div class="toolbox-right">
                            <div class="toolbox-sort">
                                <label for="sortby">Sort by:</label>
                                <div class="select-custom">
                                    <select name="sortby" id="sortby" class="form-control">
                                        @foreach (var item in Model.OrderBys)
                                        {
                                            <option value="@item.Value">@item.Name</option>
                                        }
                                    </select>
                                </div>
                            </div><!-- End .toolbox-sort -->
                        </div><!-- End .toolbox-right -->
                    </div><!-- End .toolbox -->

                    <div class="products mb-3">
                        <div class="row justify-content-center" id="product-list-partial">
                          
                        </div><!-- End .row -->
                    </div><!-- End .products -->


                    <nav aria-label="Page navigation">
                        <ul class="pagination justify-content-center">
                            
                            <li class="page-item">
                                <button id="btn-load-more" class="btn btn-success">Xem thêm</button>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div><!-- End .col-lg-9 -->
                <aside class="col-lg-3 order-lg-first">
                    <div class="sidebar sidebar-shop">
                        @await Html.PartialAsync("~/Views/Shared/_SideBar.cshtml", Model.Categories)
                    </div><!-- End .sidebar sidebar-shop -->
                </aside><!-- End .col-lg-3 -->
                
            </div><!-- End .row -->
        </div><!-- End .container -->
    </div><!-- End .page-content -->
</main><!-- End .main -->

