@using Newtonsoft.Json
@using Infrastructure.Commons
@section script{
	<script src="~/js/checkout/index.js"></script>
}
@{
	var checkout = TempData["checkout"] != null ? (string)TempData["checkout"] : string.Empty;
	var data = JsonConvert.DeserializeObject<ResponseResult>(checkout);
	var message = data != null ? data.Message : string.Empty;
	var status = data != null ? data.StatusCode : default;
}
@model CheckoutViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p hidden id="check-out-message">@message</p>
<p hidden id="check-out-status">@status</p>

<main class="main">
	<div class="page-header text-center" style="background-image: url('~/assets/images/page-header-bg.jpg')">
		<div class="container">
			<h1 class="page-title">Checkout<span>Shop</span></h1>
		</div><!-- End .container -->
	</div><!-- End .page-header -->
	<nav aria-label="breadcrumb" class="breadcrumb-nav">
		<div class="container">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="~/Home/Index">Home</a></li>
				<li class="breadcrumb-item"><a href="~/Product/Index">Shop</a></li>
				<li class="breadcrumb-item active" aria-current="page">Checkout</li>
			</ol>
		</div><!-- End .container -->
	</nav><!-- End .breadcrumb-nav -->

	<div class="page-content">
		<div class="checkout">
			<div class="container">
				@if(Model.Items != null && Model.Items.Any())
				{
					@*<div class="checkout-discount">
				<form action="#">
				<input type="text" class="form-control" required id="checkout-discount-input">
				<label for="checkout-discount-input" class="text-truncate">Have a coupon? <span>Click here to enter your code</span></label>
				</form>
				</div><!-- End .checkout-discount -->*@
					<form id="frm-customer-info" class="billing-details" method="post" action="/checkout/placeorder">
						@Html.AntiForgeryToken()
						<div class="row">
							<div class="col-lg-9">
								<h2 class="checkout-title">Billing Details</h2><!-- End .checkout-title -->
								<div class="row">
									<div class="col-sm-6">
										<label>First Name *</label>
										<input name="FirstName" type="text" class="form-control form-group" required>
									</div><!-- End .col-sm-6 -->

									<div class="col-sm-6">
										<label>Last Name *</label>
										<input name="LastName" type="text" class="form-control form-group" required>
									</div><!-- End .col-sm-6 -->
								</div><!-- End .row -->

								<label>Country *</label>
								<input name="Country" type="text" class="form-control form-group" required>

								<label>Town / City *</label>
								<input name="City" type="text" class="form-control form-group" required>

								<label>Street address *</label>
								<input name="StreetAddress" type="text" class="form-control form-group" placeholder="House number and Street name" required>

								

								<div class="row">
									<div class="col-sm-12">
										<label>Apartment Number (Company Name)</label>
										<input name="CompanyName" type="text" class="form-control form-group">
									</div><!-- End .col-sm-6 -->
								</div><!-- End .row -->

								<div class="row">
									<div class="col-sm-12">
										<label>Phone *</label>
										<input name="PhoneNumber" type="tel" class="form-control form-group" required>
									</div><!-- End .col-sm-6 -->
								</div><!-- End .row -->

								<label>Email address *</label>
								<input name="Email" type="email" class="form-control form-group" required>

								<input hidden id="txt-payment-method" class="input" type="number" name="PaymentMethod" value="0">

								<div class="custom-control custom-checkbox">
									<input type="checkbox" class="custom-control-input" id="checkout-create-acc">
									<label class="custom-control-label" for="checkout-create-acc">Create an account?</label>
								</div><!-- End .custom-checkbox -->

								<div class="custom-control custom-checkbox">
									<input type="checkbox" class="custom-control-input" id="checkout-diff-address">
									<label class="custom-control-label" for="checkout-diff-address">Ship to a different address?</label>
								</div><!-- End .custom-checkbox -->

								<label>Order notes (optional)</label>
								<textarea class="form-control" cols="30" rows="4" placeholder="Notes about your order, e.g. special notes for delivery"></textarea>
							</div><!-- End .col-lg-9 -->
							<aside class="col-lg-3">
								<div class="summary">
									<h3 class="summary-title">Your Order</h3><!-- End .summary-title -->

									<table class="table table-summary">
										<thead>
											<tr>
												<th>Product</th>
												<th>Total</th>
											</tr>
										</thead>

										<tbody>
											@foreach(var item in Model.Items)
											{
												<tr>
													<td><a href="~/Product/Detail?productId=@item.ProductId">@item.Quantity x @item.ProductName</a></td>
													<td>@item.Price</td>
												</tr>
											}
											<tr class="summary-subtotal">
												<td>Subtotal:</td>
												<td>$@Model.Items.Sum(s=> s.Quantity*s.Price)</td>
											</tr><!-- End .summary-subtotal -->
											<tr>
												<td>Shipping:</td>
												<td>Free shipping</td>
											</tr>
											<tr class="summary-total">
												<td>Total:</td>
												<td>$@Model.Items.Sum(s=> s.Quantity*s.Price)</td>
											</tr><!-- End .summary-total -->
										</tbody>
									</table><!-- End .table table-summary -->

									<div class="input accordion-summary payment-method" id="accordion-payment">
                                        
                                        @foreach (var item in Model.ShippingMethod)
                                        {
                                            <div class="input-radio">
                                                <input value="@item.Key" type="radio" name="payment" id="payment-@item.Key">
                                                <label for="payment-@item.Key">
                                                    <span></span>
                                                    @item.Value
                                                </label>

                                            </div>
                                        }
										
									</div><!-- End .accordion -->
									<div class="input-checkbox">
										<input type="checkbox" id="terms">
										<label for="terms">
											<span></span>
											I've read and accept the <a href="#">terms & conditions</a>
										</label>
									</div>

									<button id="btn-place-order" type="submit" class="btn btn-outline-primary-2 btn-order btn-block ">
										<span class="btn-text">Place Order</span>
										<span class="btn-hover-text">Proceed to Checkout</span>
									</button>
								</div><!-- End .summary -->
							</aside><!-- End .col-lg-3 -->
						</div><!-- End .row -->
					</form>
				}
			</div><!-- End .container -->
		</div><!-- End .checkout -->
	</div><!-- End .page-content -->
</main><!-- End .main -->
